body {
  font-size: 18px;
  line-height: 150%;
}

div {
  margin-bottom: 0.8em; /* Put space between definitions. */
}

a, a:visited {
  color: inherit;
  text-decoration-style: dotted;
}

i,.conj th {
    color: #060;
}

/* These get used for dark mode in API levels 29-32. */

.dark {
    color: #eee;
}

.dark i,.dark .conj .part {
    color: #cec;
}

/* These get used for dark mode in API levels 33+. */

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
    }
    i,.conj .part {
        color: #cec;
    }
}

.conj-group-head {
  padding-top: 0.3em:
}

.conj {
  display: flex;
  justify-content: center;
}

.conj th {
  text-align: left;
  font-weight: normal;
}

.conj th:nth-of-type(1) {
  text-align: right;
}

.conj th,.conj td {
  padding: 0.2em;
}
