<div class="conj">
  <table>
    <tr><th colspan=3 class=conj-title>Conjugation of {{plain-inf}}{{#mod-e}} ({{mod-e}}){{/mod-e}}
    <tr class=conj-group-head><th>Infinitive<td>{{plain-inf}}<td>{{to-inf}}
    <tr class=conj-group-head><th>Indicative<th>present<th>past
    <tr><th>1st singular<td>{{pres-ind-1sg}}<td>{{past-ind-3sg}}
    <tr><th>2nd singular<td>{{pres-ind-2sg}}<td>{{past-ind-2sg}}
    <tr><th>3rd singular<td>{{pres-ind-3sg}}<td>{{past-ind-3sg}}
    <tr><th>plural<td>{{pres-ind-pl}}<td>{{past-ind-pl}}
    <tr class=conj-group-head><th>Subjunctive<th>present<th>past
    <tr><th>singular<td>{{pres-sub-sg}}<td>{{past-sub-sg}}
    <tr><th>plural<td>{{pres-sub-pl}}<td>{{past-sub-pl}}
    <tr><th>Participle<th>present<th>past
    <tr><td><td>{{pres-part}}<td>{{past-part}}
    <tr class=conj-group-head><th>Imperative
    <tr><th>singular<td>{{imp-sg}}
    <tr><th>plural<td>{{imp-pl}}
  </table>
</div>
