<div class="conj">
  <table>
    <tr><td class="mood" colspan=2>Special forms
    <tr><td class="part">infinitive       <td class="word">{{plain-inf}}
    <tr><td class="part">"tō" infinitive  <td class="word">{{to-inf}}{{^to-inf}}(none){{/to-inf}}
    <tr><td class="part">pres. participle.<td class="word">{{pres-part}}
    <tr><td class="part">past participle  <td class="word">{{past-part}}{{^past-part}}(none){{/past-part}}

    <tr><td class="mood" colspan=2>Indicative
    <tr><td class="part">pres. 1st sing.<td class="word">{{pres-ind-1sg}}
    <tr><td class="part">pres. 2nd sing.<td class="word">{{pres-ind-2sg}}
    <tr><td class="part">pres. 3rd sing.<td class="word">{{pres-ind-3sg}}
    <tr><td class="part">pres. plural   <td class="word">{{pres-ind-pl}}
    <tr><td class="part">past 1st/3rd sing. <td class="word">{{past-ind-3sg}}
    <tr><td class="part">past 2nd sing. <td class="word">{{past-ind-2sg}}
    <tr><td class="part">past plural    <td class="word">{{past-ind-pl}}

    <tr><td class="mood" colspan=2>Subjunctive
    <tr><td class="part">pres. sing.    <td class="word">{{pres-sub-sg}}
    <tr><td class="part">pres. plural   <td class="word">{{pres-sub-pl}}
    <tr><td class="part">past. sing.    <td class="word">{{past-sub-sg}}
    <tr><td class="part">past. plural   <td class="word">{{past-sub-pl}}

    <tr><td class="mood" colspan=2>Imperative
    <tr><td class="part">sing.    <td class="word">{{imp-sg}}{{^imp-sg}}(none){{/imp-sg}}
    <tr><td class="part">plural   <td class="word">{{imp-pl}}{{^imp-pl}}(none){{/imp-pl}}
  </table>
</div>
